.nav-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* NAVBAR */
.nav-pill {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
  border-radius: 50px;

  width: 90%;
  max-width: 1100px;

  /* DARK RED GLASS EFFECT */
  background: rgba(20, 0, 5, 0.85);
  backdrop-filter: blur(10px);

  box-shadow: 
    0 0 20px rgba(255, 77, 109, 0.25),
    inset 0 0 10px rgba(255, 77, 109, 0.1);
}

/* LOGO */
.nav-logo {
  color: white;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/* MENU */
.nav-menu {
  display: flex;
  gap: 30px;
}

/* ITEM */
.nav-item {
  color: #ddd;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* HOVER */
.nav-item:hover {
  color: white;
  background: rgba(255, 77, 109, 0.2);
}

/* ACTIVE */
.nav-item.active {
  background: linear-gradient(90deg, #ff4d6d, #ff758f);
  color: white;
  box-shadow: 0 0 10px rgba(255, 77, 109, 0.6);
}

/* HOVER NAVBAR */
.nav-pill:hover {
  box-shadow: 
    0 0 30px rgba(255, 77, 109, 0.5),
    inset 0 0 15px rgba(255, 77, 109, 0.2);
}